body {
  background: rgb(228 108 11);
  font-family: 'Montserrat', sans-serif;


}

h1 {
  text-align: center;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 30px;
}

.achma-star {
  background-image: url(../star-img/Star\ 1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 388px;
  height: 368px;

  pointer-events: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px
}

.star-wrapper {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;

}


.achma-star h2 {
  margin-top: 20px;
}

.achma-star p {
  font-size: 18px;
  font-weight: 500;
  color: black;
}




@media (max-width: 1830px) {
  .star-wrapper {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
  }
}

@media (max-width: 1380px) {
  .star-wrapper {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
  }

  h1 {
    text-align: center;
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    margin-top: 40px;
  }
}

@media (max-width: 870px) {
  .star-wrapper {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
  }

  h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    margin-top: 40px;
  }

  #modal-content h2 {
    font-size: 30px;
    text-align: center;
    color: #fff;
  }

  #modal-content {
    width: 90vw;
  }
}